form {
  display: flex;
  flex-direction: column;

  #options {
    display: flex;
    flex-direction: column;
  }

  .option {
    margin-bottom: .5rem;

    &__label {
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  label {
    margin-bottom: .8rem;
    display: block;
  }
}

.radiobtn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: grey;
  margin-right: 1rem;
  border-radius: 50%;
  &:after {
    content: '';
    display: none;
  }
}

label input[type=radio]:checked {
  &~ .radiobtn {
    background-color: $color-primary;

    &::after {
      display: block;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      margin: .6rem 0 0 .6rem;
      background-color: #fff;
    }
  }
}

input {
  &[type=text] {
    border: 1px solid black;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .2rem;
    margin-bottom: 1.5rem;
    appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    @supports (display: flex) {
      width: auto;
    }
  }

  &[type=submit] {
    margin: 1rem 0;
    border: none;
    font-family: 'Fira Code', system-ui, sans-serif;
    appearance: none;
    -webkit-appearance: none;
    &:hover {
      cursor: pointer;
    }
  }

  &[type=radio] {
    // margin-right: 1rem;
    display: none;
  }
}
