main {
  margin-bottom: 32px;
  margin-bottom: 2rem;

  &.home {
    text-align: center;

    h1 {
      margin-top: 80px;
      margin-top: 5rem;
    }
  }

  &:not(.home) {
    @media (min-width: 767px) {
      padding: 0 10%;
    }
    @media (min-width: 1000px) {
      padding: 0 20%;
    }
    @media (min-width: 1300px) {
      padding: 0 25%;
    }
  }
}

section {
  &.start {
    margin-top: 32px;
    margin-top: 2rem;

    h2 {
      font-weight: 500;
    }
  }

  &#share {
    display: flex;
    flex-direction: column;
  }

  &#create {
    display: flex;
    flex-direction: column;
  }
}

.logo {
  max-width: 160px;
  max-width: 10rem;
}

.percentageBar {
  width: 100%;
  border: 1px solid #000;
  border-radius: 3.2px;
  border-radius: .2rem;
  height: 32px;
  height: 2rem;
  background-color: #f4f4f4;
}

.amount {
  background-color: $color-secondary;
  height: 32px;
  height: 2rem;
  transition: width .4s;
}

.text {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
