<% include partials/head %>

<main class="home">
  <h1>A-Pollo</h1>
  <img src="/images/logo.svg" alt="logo" class="logo">

  <section class="start">
    <h2>Create a poll</h2>
    <a href="/poll" class="button">Start</a>
  </section>
</main>

<% include partials/tail %>
